.navbar-default {
    background-color: #7cecd3;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-brand {
    color: black;
}

/*#melons {
    text-align: center;*/
}

.well {
    text-align: center;
}